In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("bigBasket.csv")
data.head()

   Member    Order       SKU   Created On   Description
0  M09736  6468572  34993740  41904.94792  Other Sauces
1  M09736  6468572  15669800  41904.94792       Cashews
2  M09736  6468572  34989501  41904.94792    Other Dals
3  M09736  6468572   7572303  41904.94792       Namkeen
4  M09736  6468572  15669856  41904.94792         Sugar

In [9]:
data.shape

(62141, 5)

In [24]:
transactions_per_order = {}
for i, sub_set in data.groupby(['Order']):
    order = list(sub_set['Order'])[0]
    transactions_per_order[order] = []
    for j, row in sub_set.iterrows():
        transactions_per_order[order].append(row['Description'])
len(transactions_per_order)

8387