In [46]:
# import the needed libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [47]:
# load the data

data = pd.read_csv("coffee-prices-historical-chart-data.csv")

In [48]:
# A short glance at the data 

data.head()

         date   value
0  1973-08-20  0.6735
1  1973-08-21  0.6710
2  1973-08-22  0.6580
3  1973-08-23  0.6675
4  1973-08-24  0.6660

In [49]:
# drop the rows with missing value(s)

data.dropna(axis=0, inplace=True)

In [50]:
# transform the dates to ordinal values

data['date'] = pd.to_datetime(data['date'])
data['date'] = data['date'].apply(dt.toordinal)

In [51]:
# A short glance at the data with the ordinal time

data.head()

         date   value  ordinal-date
0  1973-08-20  0.6735        720490
1  1973-08-21  0.6710        720491
2  1973-08-22  0.6580        720492
3  1973-08-23  0.6675        720493
4  1973-08-24  0.6660        720494

In [ ]:
# A glance at the data 

plt.scatter(data['date'], data['value'], color='red')
plt.title('Coffee price history')
plt.xlabel('time')
plt.ylabel('Price (per pound)')
plt.show()